<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/2fac66d8-1464-4816-b7fc-4a38286bf4f8/v3/index.json" />
  </packageSources>
</configuration>