@page "/tag-helpers/accorion"
@using Generic.Abp.Metro.UI.Theme.Basic.Demo.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.AccordionModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<MetroUiThemeBasicDemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var text = L["Accordion"].Value;
    PageLayout.Content.Title = text;
    var header = L["Header"].Value;
    var content = @L["Content"].Value;
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@text" data-cls-title="bg-dark fg-white  h4 m-0">
    <div class="row w-100 p-2 border-1 bd-gray border-solid">
        <div class="cell-3 p-1">
            <metro-accordion >
                <metro-accordion-item title="@header 1">
                    <div class="p-2">@content 1</div>
                </metro-accordion-item>
                <metro-accordion-item title="@header 2" active="true">
                    <div class="p-2">@content 2</div>
                </metro-accordion-item>
                <metro-accordion-item title="@header 1">
                    <div class="p-2">@content 3</div>
                </metro-accordion-item>
            </metro-accordion>
        </div>
        <div class="cell-3 p-1">
            <metro-accordion show-marker="false">
                <metro-accordion-item title="@header 1">
                    <div class="p-2">@content 1</div>
                </metro-accordion-item>
                <metro-accordion-item title="@header 2" active="true">
                    <div class="p-2">@content 2</div>
                </metro-accordion-item>
                <metro-accordion-item title="@header 1">
                    <div class="p-2">@content 3</div>
                </metro-accordion-item>
            </metro-accordion>
        </div>
        <div class="cell-3 p-1">
            <metro-accordion material="true" one-frame="false">
                <metro-accordion-item title="@header 1">
                    <div class="p-2">@content 1</div>
                </metro-accordion-item>
                <metro-accordion-item title="@header 2" active="true">
                    <div class="p-2">@content 2</div>
                </metro-accordion-item>
                <metro-accordion-item title="@header 1">
                    <div class="p-2">@content 3</div>
                </metro-accordion-item>
            </metro-accordion>
        </div>
        <div class="cell-3 p-1">
            <metro-accordion active-heading-class="bg-cyan fg-white" active-frame-class="bg-dark fg-white">
                <metro-accordion-item title="@header 1">
                    <div class="p-2">@content 1</div>
                </metro-accordion-item>
                <metro-accordion-item title="@header 2" active="true">
                    <div class="p-2">@content 2</div>
                </metro-accordion-item>
                <metro-accordion-item title="@header 1">
                    <div class="p-2">@content 3</div>
                </metro-accordion-item>
            </metro-accordion>
        </div>

    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-accordion &gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-accordion-item title="@@header 1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="p-2"&gt;@@content 1&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-accordion-item&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-accordion-item title="@@header 2" active="true"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="p-2"&gt;@@content 2&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-accordion-item&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-accordion-item title="@@header 1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="p-2"&gt;@@content 3&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-accordion-item&gt;
            &lt;/metro-accordion&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &lt;metro-accordion show-marker="false"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-accordion-item title="@@header 1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="p-2"&gt;@@content 1&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-accordion-item&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-accordion-item title="@@header 2" active="true"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="p-2"&gt;@@content 2&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-accordion-item&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-accordion-item title="@@header 1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="p-2"&gt;@@content 3&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-accordion-item&gt;
            &lt;/metro-accordion&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &lt;metro-accordion material="true" one-frame="false"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-accordion-item title="@@header 1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="p-2"&gt;@@content 1&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-accordion-item&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-accordion-item title="@@header 2" active="true"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="p-2"&gt;@@content 2&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-accordion-item&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-accordion-item title="@@header 1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="p-2"&gt;@@content 3&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-accordion-item&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-accordion&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &lt;metro-accordion active-heading-class="bg-cyan fg-white" active-frame-class="bg-dark fg-white"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-accordion-item title="Header 1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="p-2"&gt;@@content 1&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-accordion-item&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-accordion-item title="Header 2" active="true"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="p-2"&gt;@@content 2&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-accordion-item&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-accordion-item title="Header 1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="p-2"&gt;@@content 3&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-accordion-item&gt;
            &lt;/metro-accordion&gt;
        </div>
    </div>

</div>