@page "/tag-helpers/bredcrumb"
@using Generic.Abp.Metro.UI.TagHelpers.Breadcrumb
@using Generic.Abp.Metro.UI.Theme.Basic.Demo.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.BreadcrumbModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<MetroUiThemeBasicDemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var title = L["Breadcrumb"].Value;
    PageLayout.Content.Title = title;
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@title" data-cls-title="bg-dark fg-white h4 m-0">
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-breadcrumb>
            <metro-breadcrumb-item title="Home" href="#" />
            <metro-breadcrumb-item title="Products" href="#" />
            <metro-breadcrumb-item title="Downloads" href="#"/>
            <metro-breadcrumb-item title="Windows 10" href="#" />
        </metro-breadcrumb>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-breadcrumb&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-breadcrumb-item title="Home" href="#" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-breadcrumb-item title="Products" href="#" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-breadcrumb-item title="Downloads" href="#"/&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-breadcrumb-item title="Windows 10" href="#" /&gt;
            &lt;/metro-breadcrumb&gt;

        </div>
    </div>

</div>