@page
@using Generic.Abp.Metro.UI.TagHelpers.Collapse
@using Generic.Abp.Metro.UI.Theme.Basic.Demo.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.GridModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<MetroUiThemeBasicDemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var text = L["Grid"].Value;
    PageLayout.Content.Title = text;
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@text" data-cls-title="bg-dark fg-white  h4 m-0">
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <metro-grid>
            <metro-row>
                <metro-column align="Center"><div border="LRTB">1</div></metro-column>
                <metro-column align="Center"><div border="LRTB">2</div></metro-column>
                <metro-column align="Center"><div border="LRTB">3</div></metro-column>
                <metro-column align="Center"><div border="LRTB">4</div></metro-column>
                <metro-column align="Center"><div border="LRTB">5</div></metro-column>
                <metro-column align="Center"><div border="LRTB">6</div></metro-column>
                <metro-column align="Center"><div border="LRTB">7</div></metro-column>
                <metro-column align="Center"><div border="LRTB">8</div></metro-column>
                <metro-column align="Center"><div border="LRTB">9</div></metro-column>
                <metro-column align="Center"><div border="LRTB">10</div></metro-column>
                <metro-column align="Center"><div border="LRTB">11</div></metro-column>
                <metro-column align="Center"><div border="LRTB">12</div></metro-column>
            </metro-row>
            <metro-row>
                <metro-column size="_3" align="Center"><div border="LRTB">cell-3</div></metro-column>
                <metro-column size="_3" align="Center"><div border="LRTB">cell-3</div></metro-column>
                <metro-column size="_3" align="Center"><div border="LRTB">cell-3</div></metro-column>
                <metro-column size="_3" align="Center"><div border="LRTB">cell-3</div></metro-column>
            </metro-row>
            <metro-row>
                <metro-column size="_4" offset="_4" align="Center"><div border="LRTB">cell-4 + offset-4</div></metro-column>
            </metro-row>
            <metro-row>
                <metro-column size="_3" align="Center"><div border="LRTB">cell-3</div></metro-column>
                <metro-column size="_6" offset="_3" align="Center"><div border="LRTB">cell-6 + offset-3</div></metro-column>
            </metro-row>
            <metro-row>
                <metro-column size="_4" offset="_4" align="Center"><div border="LRTB">cell-4+ offset-4</div></metro-column>
                <metro-column align="Center"><div border="LRTB">1</div></metro-column>
                <metro-column align="Center"><div border="LRTB">1</div></metro-column>
                <metro-column align="Center"><div border="LRTB">1</div></metro-column>
                <metro-column align="Center"><div border="LRTB">1</div></metro-column>
            </metro-row>
            <metro-row>
                <metro-column>
                    <metro-row>
                        <metro-column align="Center"><div border="LRTB">nested</div></metro-column>
                        <metro-column align="Center"><div border="LRTB">nested</div></metro-column>
                        <metro-column align="Center"><div border="LRTB">nested</div></metro-column>
                        <metro-column align="Center"><div border="LRTB">nested</div></metro-column>
                    </metro-row>
                </metro-column>
            </metro-row>
        </metro-grid>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-grid&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;2&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;3&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;4&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;5&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;6&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;7&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;8&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;9&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;10&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;11&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;12&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_3" align="Center"&gt;&lt;div border="LRTB"&gt;cell-3&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_3" align="Center"&gt;&lt;div border="LRTB"&gt;cell-3&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_3" align="Center"&gt;&lt;div border="LRTB"&gt;cell-3&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_3" align="Center"&gt;&lt;div border="LRTB"&gt;cell-3&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_4" offset="_4" align="Center"&gt;&lt;div border="LRTB"&gt;cell-4 + offset-4&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_3" align="Center"&gt;&lt;div border="LRTB"&gt;cell-3&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_6" offset="_3" align="Center"&gt;&lt;div border="LRTB"&gt;cell-6 + offset-3&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_4" offset="_4" align="Center"&gt;&lt;div border="LRTB"&gt;cell-4+ offset-4&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;nested&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;nested&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;nested&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;nested&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;

        </div>
    </div>
    
    <h4>Media columns</h4>
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <metro-grid>
            <metro-row>
                <metro-column size-md="_1" align="Center"><div border="LRTB">1</div></metro-column>
                <metro-column size-md="_1" align="Center"><div border="LRTB">2</div></metro-column>
                <metro-column size-md="_1" align="Center"><div border="LRTB">3</div></metro-column>
                <metro-column size-md="_1" align="Center"><div border="LRTB">4</div></metro-column>
                <metro-column size-md="_1" align="Center"><div border="LRTB">5</div></metro-column>
                <metro-column size-md="_1" align="Center"><div border="LRTB">6</div></metro-column>
                <metro-column size-md="_1" align="Center"><div border="LRTB">7</div></metro-column>
                <metro-column size-md="_1" align="Center"><div border="LRTB">8</div></metro-column>
                <metro-column size-md="_1" align="Center"><div border="LRTB">9</div></metro-column>
                <metro-column size-md="_1" align="Center"><div border="LRTB">10</div></metro-column>
                <metro-column size-md="_1" align="Center"><div border="LRTB">11</div></metro-column>
                <metro-column size-md="_1" align="Center"><div border="LRTB">12</div></metro-column>
            </metro-row>
        </metro-grid>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-grid&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size-md="_1" align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size-md="_1" align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size-md="_1" align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size-md="_1" align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size-md="_1" align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size-md="_1" align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size-md="_1" align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size-md="_1" align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size-md="_1" align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size-md="_1" align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size-md="_1" align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size-md="_1" align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;
        </div>
    </div>

    <h4>Gap</h4>
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <metro-grid class="demo-grid">
            <metro-row>
                <metro-column align="Center"><div border="LRTB" background-color="Green">1</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Yellow">2</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Green" background-color="Green">3</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Yellow">4</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Green">5</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Yellow">6</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Green">7</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Yellow">8</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Green">9</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Yellow">10</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Green">11</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Yellow">12</div></metro-column>
            </metro-row>
        </metro-grid>
        <metro-grid class="demo-grid" gap="false">
            <metro-row >
                <metro-column align="Center"><div border="LRTB" background-color="Green">1</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Yellow">2</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Green" background-color="Green">3</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Yellow">4</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Green">5</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Yellow">6</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Green">7</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Yellow">8</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Green">9</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Yellow">10</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Green">11</div></metro-column>
                <metro-column align="Center"><div border="LRTB" background-color="Yellow">12</div></metro-column>
            </metro-row>
        </metro-grid>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-grid class="demo-grid"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Green"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Yellow"&gt;2&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Green" background-color="Green"&gt;3&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Yellow"&gt;4&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Green"&gt;5&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Yellow"&gt;6&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Green"&gt;7&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Yellow"&gt;8&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Green"&gt;9&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Yellow"&gt;10&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Green"&gt;11&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Yellow"&gt;12&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;
            &lt;metro-grid class="demo-grid" gap="false"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row &gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Green"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Yellow"&gt;2&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Green" background-color="Green"&gt;3&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Yellow"&gt;4&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Green"&gt;5&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Yellow"&gt;6&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Green"&gt;7&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Yellow"&gt;8&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Green"&gt;9&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Yellow"&gt;10&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Green"&gt;11&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB" background-color="Yellow"&gt;12&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;
        </div>
    </div>

    <h4>Stub column</h4>
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <metro-grid>
            <metro-row>
                <metro-column stub="true" align="Center" width="200px"><div border="LRTB">Stub column</div></metro-column>
                <metro-column align="Center"><div border="LRTB">1</div></metro-column>
            </metro-row>
        </metro-grid>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-grid&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column stub="true" align="Center" width="200px"&gt;&lt;div border="LRTB"&gt;Stub column&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;1&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;
        </div>
    </div>

    <h4>Ordering</h4>
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <metro-grid>
            <metro-row>
                    <metro-column align="Center" display-order="2"><div border="LRTB">Order 2</div></metro-column>
                    <metro-column align="Center" display-order="1"><div border="LRTB">Order 1</div></metro-column>
            </metro-row>
        </metro-grid>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-grid&gt;
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row&gt;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center" display-order="2"&gt;&lt;div border="LRTB"&gt;Order 2&lt;/div&gt;&lt;/metro-column&gt;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center" display-order="1"&gt;&lt;div border="LRTB"&gt;Order 1&lt;/div&gt;&lt;/metro-column&gt;
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;
        </div>
    </div>

    <h4>Vertical alignment</h4>
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <metro-grid >
            <metro-row height="100" v-align="Start" background-color="GrayWhite">
                <metro-column align="Center" ><div border="LRTB">Cell</div></metro-column>
                <metro-column align="Center"><div border="LRTB">Cell</div></metro-column>
                <metro-column align="Center"><div border="LRTB">Cell</div></metro-column>
            </metro-row>
        </metro-grid>
        <metro-grid>
            <metro-row height="100" v-align="Center" background-color="GrayWhite" class="mt-1">
                <metro-column align="Center"><div border="LRTB">Cell</div></metro-column>
                <metro-column align="Center"><div border="LRTB">Cell</div></metro-column>
                <metro-column align="Center"><div border="LRTB">Cell</div></metro-column>
            </metro-row>
        </metro-grid>
        <metro-grid>
            <metro-row height="100" v-align="End" background-color="GrayWhite" class="mt-1">
                <metro-column align="Center"><div border="LRTB">Cell</div></metro-column>
                <metro-column align="Center"><div border="LRTB">Cell</div></metro-column>
                <metro-column align="Center"><div border="LRTB">Cell</div></metro-column>
            </metro-row>
        </metro-grid>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-grid &gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row height="100" v-align="Start" background-color="GrayWhite"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center" &gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;
            &lt;metro-grid&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row height="100" v-align="Center" background-color="GrayWhite" class="mt-1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;
            &lt;metro-grid&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row height="100" v-align="End" background-color="GrayWhite" class="mt-1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;
        </div>
    </div>

    <h4>Horizontal alignment</h4>
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <metro-grid>
            <metro-row h-align="Start" background-color="GrayWhite">
                <metro-column size="_2" align="Center"><div border="LRTB">Cell</div></metro-column>
                <metro-column size="_2" align="Center"><div border="LRTB">Cell</div></metro-column>
            </metro-row>
        </metro-grid>
        <metro-grid>
            <metro-row h-align="Center" background-color="GrayWhite" class="mt-1">
                <metro-column size="_2" align="Center"><div border="LRTB">Cell</div></metro-column>
                <metro-column size="_2" align="Center"><div border="LRTB">Cell</div></metro-column>
            </metro-row>
        </metro-grid>
        <metro-grid>
            <metro-row h-align="End" background-color="GrayWhite" class="mt-1">
                <metro-column size="_2" align="Center"><div border="LRTB">Cell</div></metro-column>
                <metro-column size="_2" align="Center"><div border="LRTB">Cell</div></metro-column>
            </metro-row>
        </metro-grid>
        <metro-grid>
            <metro-row h-align="Between" background-color="GrayWhite" class="mt-1">
                <metro-column size="_2" align="Center"><div border="LRTB">Cell</div></metro-column>
                <metro-column size="_2" align="Center"><div border="LRTB">Cell</div></metro-column>
            </metro-row>
        </metro-grid>
        <metro-grid>
            <metro-row h-align="Around" background-color="GrayWhite" class="mt-1">
                <metro-column size="_2" align="Center"><div border="LRTB">Cell</div></metro-column>
                <metro-column size="_2" align="Center"><div border="LRTB">Cell</div></metro-column>
            </metro-row>
        </metro-grid>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-grid&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row h-align="Start" background-color="GrayWhite"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_2" align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_2" align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;
            &lt;metro-grid&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row h-align="Center" background-color="GrayWhite" class="mt-1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_2" align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_2" align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;
            &lt;metro-grid&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row h-align="End" background-color="GrayWhite" class="mt-1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_2" align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_2" align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;
            &lt;metro-grid&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row h-align="Between" background-color="GrayWhite" class="mt-1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_2" align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_2" align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;
            &lt;metro-grid&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-row h-align="Around" background-color="GrayWhite" class="mt-1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_2" align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-column size="_2" align="Center"&gt;&lt;div border="LRTB"&gt;Cell&lt;/div&gt;&lt;/metro-column&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-row&gt;
            &lt;/metro-grid&gt;
        </div>
    </div>
</div>