@page "/tag-helpers/modal"
@using Generic.Abp.Metro.UI.TagHelpers.Modal
@using Generic.Abp.Metro.UI.Theme.Basic.Demo.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.DialogModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<MetroUiThemeBasicDemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var text = L["Modal"].Value;
    PageLayout.Content.Title = text;
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@text" data-cls-title="bg-dark fg-white  h4 m-0">
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <metro-modal id="demoDialog1">
            <metro-modal-title title="Use Windows location service?" />
            <metro-modal-content>
                Bassus abactors ducunt ad triticum.
                A fraternal form of manifestation is the bliss.
            </metro-modal-content>
            <metro-modal-footer buttons="@(ModalDialogButtons.Cancel | ModalDialogButtons.Save)"  />
        </metro-modal>
        <metro-modal id="demoDialog2" accent-color="Primary">
            <metro-modal-title title="Use Windows location service?" />
            <metro-modal-content>
                Bassus abactors ducunt ad triticum.
                A fraternal form of manifestation is the bliss.
            </metro-modal-content>
            <metro-modal-footer buttons="@(ModalDialogButtons.Cancel | ModalDialogButtons.Save)" button-alignment="End"/>
        </metro-modal>
        <div class="row">
            <button class="button primary mr-1"
                    onclick="Metro.modal.open('#demoDialog1')">Open dialog</button>
            <button class="button primary mr-2"
                    onclick="Metro.modal.open('#demoDialog2')">Open dialog 2</button>
        </div>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
        </div>
    </div>
    
</div>