@page
@using Generic.Abp.Metro.UI.Theme.Basic.Demo.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.PopoverModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<MetroUiThemeBasicDemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var text = L["Popover"].Value;
    PageLayout.Content.Title = text;
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@text" data-cls-title="bg-dark fg-white  h4 m-0">
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <div class="row">
            <div class="cell-3">
                <div>Ubi est festus coordinatae? Zion is not <span class="text-bold" popover="This is popover!">HOVER ME</span> the simple truth of the wind.</div>
            </div>
            <div class="cell-3">
                <metro-button text="Hover Me" popover="This is popover!" popover-trigger="Click"/>
            </div>
            <div class="cell-3">
                <input text="Hover Me" popover="This is popover!" popover-trigger="Focus"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="cell-3 text-left">
                <button popover="Right" popover-position="Right">Right</button>
            </div>
            <div class="cell-3">
                <button popover="Top" popover-position="Top">Top</button>
            </div>
            <div class="cell-3">
                <button popover="Bottom" popover-position="Bottom">Bottom</button>
            </div>
            <div class="cell-3 text-right">
                <button popover="Left" popover-position="Left">Left</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="cell-3 text-left">
                <button popover="This popover closed after 3 secs!" popover-hide="3000" popover-cls="bg-dark" popover-content-cls="fg-white">Hover me</button>
            </div>
            <div class="cell-3">
                <button popover="Click Me to close!" popover-close-button="false" popover-hide="0">Hover me</button>
            </div>
            <div class="cell-3">
                <button popover="Click close button to close!" popover-hide="0">Hover me</button>
            </div>
        </div>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;div&gt;Ubi est festus coordinatae? Zion is not &lt;span class="text-bold" popover="This is popover!"&gt;HOVER ME&lt;/span&gt; the simple truth of the wind.&lt;/div&gt;
            &nbsp;
            &lt;metro-button text="Hover Me" popover="This is popover!" popover-trigger="Click"/&gt;
            &nbsp;
            &lt;input text="Hover Me" popover="This is popover!" popover-trigger="Focus"/&gt;
            &nbsp;
            &lt;button popover="Right" popover-position="Right"&gt;Right&lt;/button&gt;
            &nbsp;
            &lt;button popover="Top" popover-position="Top"&gt;Top&lt;/button&gt;
            &nbsp;
            &lt;button popover="Bottom" popover-position="Bottom"&gt;Bottom&lt;/button&gt;
            &nbsp;
            &lt;button popover="Left" popover-position="Left"&gt;Left&lt;/button&gt;
            &nbsp;
            &lt;button popover="This popover closed after 3 secs!" popover-hide="3000" popover-cls="bg-dark" popover-content-cls="fg-white"&gt;Hover me&lt;/button&gt;
            &nbsp;
            &lt;button popover="Click Me to close!" popover-close-button="false" popover-hide="0"&gt;Hover me&lt;/button&gt;
            &nbsp;
            &lt;button popover="Click close button to close!" popover-hide="0"&gt;Hover me&lt;/button&gt;

        </div>
    </div>

</div>