@page
@using Generic.Abp.Demo.Localization
@using Generic.Abp.Metro.UI.TagHelpers.List
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.CardsModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var title = L["Cards"].Value;
    PageLayout.Content.Title = title;
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@title" data-cls-title="bg-dark fg-white h4 m-0">
    <div class="row  p-2 border-1 bd-gray border-solid">
        <div class="cell-md-3 p-2">
            <metro-card header="Card header" content="Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions." footer="Card footer"  content-cls="p-2"></metro-card>
        </div>
        <div class="cell-md-3 p-2">
            <metro-card header="Card header" footer="Card footer" >
                <metro-card-content class="p-2">
                    Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions.
                </metro-card-content>
            </metro-card>

        </div>
        <div class="cell-md-3 p-2">
            <metro-card header="Card header" footer="Card footer" content-cls="p-2">
                    Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions.
            </metro-card>

        </div>
        <div class="cell-md-3 p-2">
            <metro-card footer="Card footer" content-cls="p-2">
                <metro-card-header>Card header</metro-card-header>
                Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions.
            </metro-card>

        </div>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-card header="Card header" content="Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions." footer="Card footer"  content-cls="p-2"&gt;&lt;/metro-card&gt;
            &nbsp;
            &lt;metro-card header="Card header" footer="Card footer" &gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-card-content class="p-2"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions.
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-card-content&gt;
            &lt;/metro-card&gt;
            &nbsp;
            &lt;metro-card header="Card header" footer="Card footer" content-cls="p-2"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions.
            &lt;/metro-card&gt;
            &nbsp;
            &lt;metro-card footer="Card footer" content-cls="p-2"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-card-header&gt;Card header&lt;/metro-card-header&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions.
            &lt;/metro-card&gt;
        </div>
    </div>
    
    <h4>Image header</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <div class="cell-md-3 p-2">
            <metro-card header="Card header" header-image="/images/image.jpg" header-cls="fg-white" footer="Card footer">
                <metro-card-content class="p-2">
                    Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions.
                </metro-card-content>
            </metro-card>

        </div>
        <div class="cell-md-3 p-2">
            <metro-card footer="Card footer" content-cls="p-2">
                <metro-card-header image="/images/image.jpg" class="fg-white">Card header</metro-card-header>
                Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions.
            </metro-card>

        </div>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-card header="Card header" header-image="/images/image.jpg" header-cls="fg-white" footer="Card footer"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-card-content class="p-2"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions.
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-card-content&gt;
            &lt;/metro-card&gt;
            &nbsp;
            &lt;metro-card footer="Card footer" content-cls="p-2"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-card-header image="/images/image.jpg" class="fg-white"&gt;Card header&lt;/metro-card-header&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions.
            &lt;/metro-card&gt;
        </div>
    </div>

</div>
