@page
@using Generic.Abp.Demo.Localization
@using Generic.Abp.Metro.UI.TagHelpers.List
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.CardsModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var title = L["Cards"].Value;
    PageLayout.Content.Title = title;
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@title" data-cls-title="bg-dark fg-white h4 m-0">
    <div class="row  p-2 border-1 bd-gray border-solid">
        <div class="cell-md-3 p-2">
            <metro-card header="Card header" content="Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions." footer="Card Footer"  content-cls="p-2"></metro-card>
        </div>
        <div class="cell-md-3 p-2">
            <metro-card >
                <metro-card-header>Card header</metro-card-header>
                <metro-card-content class="p-2">
                    Card with header and footer. Card header is used to display card title and footer for some additional information or for custom actions.
                </metro-card-content>
                <metro-card-footer>Card Footer</metro-card-footer>
            </metro-card>

        </div>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-list-group asp-items="@@items"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-list-item type="Group" title="Two" display-order="10001" /&gt;
            &lt;/metro-list-group&gt;


            &lt;metro-list-group asp-items="@@items" horizontal="true" &gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-list-item type="Group" title="Two" display-order="10001" /&gt;
            &lt;/metro-list-group&gt;
        </div>
    </div>


</div>
