@page
@using Generic.Abp.Demo.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Generic.Abp.Demo.Web.Pages.TagHelpers;
@using Generic.Abp.Metro.UI.Bundling.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var buttonsText = L["About"].Value;
    PageLayout.Content.Title = buttonsText;
    
}

<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@L["About"]" data-cls-title="bg-dark fg-white">
    关于TagHelpers
</div>