@page
@using System.Globalization
@using Generic.Abp.Demo.Localization
@using Generic.Abp.Metro.UI.TagHelpers.NavigationView
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.NavigationViewModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var title = L["NavigationView"].Value;
    PageLayout.Content.Title = title;
    var cultureName = CultureInfo.CurrentCulture.Name?.ToLowerInvariant();
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@title" data-cls-title="bg-dark fg-white h4 m-0">
    <div class="row  p-2 border-1 bd-gray border-solid" height="350">
        <metro-nav-view>
            <metro-nav-panel pull-button="true" suggest-box="true">
                <metro-nav-menu class="px-1" id="NavViewMenu" current-value="Music">
                    <metro-nav-menu-header  header="@L["NavigationViewMenu"].Value" />
                    <metro-nav-menu-separator />
                    <metro-nav-menu-item type="Header" text="Main Pages" />
                    <metro-nav-menu-item text="Apps" icon="mif-apps" value="Apps" />
                    <metro-nav-menu-item text="Music" icon="mif-music" value="Music" />
                    <metro-nav-menu-item text="Games" icon="mif-gamepad" value="Games" />
                </metro-nav-menu>
            </metro-nav-panel>
            <metro-nav-content>
                @L["NavigationViewContent"].Value
            </metro-nav-content>
        </metro-nav-view>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-nav-view&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-nav-panel pull-button="true" suggest-box="true"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-nav-menu class="px-1" id="NavViewMenu" current-value="Music"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-nav-menu-header  header="@@L["NavigationViewMenu"].Value" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-nav-menu-separator /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-nav-menu-item type="Header" text="Main Pages" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-nav-menu-item text="Apps" icon="mif-apps" value="Apps" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-nav-menu-item text="Music" icon="mif-music" value="Music" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-nav-menu-item text="Games" icon="mif-gamepad" value="Games" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-nav-menu&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-nav-panel&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-nav-content&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@@L["NavigationViewContent"].Value
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-nav-content&gt;
            &lt;/metro-nav-view&gt;
        </div>
    </div>


</div>