@page
@using System.Globalization
@using Generic.Abp.Demo.Localization
@using Generic.Abp.Metro.UI.TagHelpers.NavigationView
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.NavigationViewModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var title = L["NavigationView"].Value;
    PageLayout.Content.Title = title;
    var cultureName = CultureInfo.CurrentCulture.Name?.ToLowerInvariant();
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@title" data-cls-title="bg-dark fg-white h4 m-0">
    <div class="row  p-2 border-1 bd-gray border-solid" style="height: 320px;">
        <metro-navigation-view>
            <metro-navigation-panel pull-button="true" suggest-box="true">
                <metro-navigation-menu class="px-1" id="NavViewMenu" current-value="Music">
                    <metro-navigation-menu-item type="Header" text="@L["NavigationViewMenu"].Value" />
                    <metro-navigation-menu-item type="Separator" />
                    <metro-navigation-menu-item type="Header" text="Main Pages" />
                    <metro-navigation-menu-item text="Apps" icon="mif-apps" value="Apps" />
                    <metro-navigation-menu-item text="Music" icon="mif-music" value="Music" />
                    <metro-navigation-menu-item text="Games" icon="mif-gamepad" value="Games" />
                </metro-navigation-menu>
            </metro-navigation-panel>
            <metro-navigation-view-content>
                @L["NavigationViewContent"].Value
            </metro-navigation-view-content>
        </metro-navigation-view>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-navigation-view&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-navigation-panel pull-button="true" suggest-box="true"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-navigation-menu class="px-1" id="NavViewMenu" current-value="Music"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-navigation-menu-item type="Header" text="@@L["NavigationViewMenu"].Value" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-navigation-menu-item type="Separator" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-navigation-menu-item type="Header" text="Main Pages" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-navigation-menu-item text="Apps" icon="mif-apps" value="Apps" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-navigation-menu-item text="Music" icon="mif-music" value="Music" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-navigation-menu-item text="Games" icon="mif-gamepad" value="Games" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-navigation-menu&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-navigation-panel&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-navigation-view-content&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@@L["NavigationViewContent"].Value
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-navigation-view-content&gt;
            &lt;/metro-navigation-view&gt;
        </div>
    </div>


</div>