<div class="sm:ml-6 sm:block">
    <div class="flex space-x-4">
        @await Html.PartialAsync("NavBar/_MultiTenancy")

        @await Html.PartialAsync("NavBar/_Language")

        @await Html.PartialAsync("NavBar/_User")
        @await Html.PartialAsync("NavBar/_ThemeController")
    </div>
</div>
