@page
@using Generic.Abp.Metro.UI.Identity.Web.Pages.Identity.Users
@using Generic.Abp.Metro.UI.TagHelpers.Form
@using Generic.Abp.Metro.UI.TagHelpers.Modal
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Identity.Localization
@using Volo.Abp.Localization
@using Volo.Abp.ObjectExtending
@using Volo.Abp.Data
@using Volo.Abp.Identity
@model Generic.Abp.Metro.UI.Identity.Web.Pages.Identity.Users.CreateModalModel
@inject IHtmlLocalizer<IdentityResource> L
@inject IStringLocalizerFactory StringLocalizerFactory

@{
    Layout = null;
}
    <metro-modal width="800">
        <form method="post" asp-page="/Identity/Users/CreateModal">
            <metro-modal-title title="@L["NewUser"].Value" />
            <metro-modal-content >
                <metro-form-content cols="2" label-width="120">
                    <input type="password" hidden autocomplete="new-password" />
                    <metro-input asp-for="UserInfo.UserName" auto-complete="false"/>
                    <metro-input asp-for="UserInfo.Password" auto-complete="false"/>
                    <metro-input asp-for="UserInfo.Name"/>
                    <metro-input asp-for="UserInfo.Surname"/>
                    <metro-input asp-for="UserInfo.Email"/>
                    <metro-input asp-for="UserInfo.PhoneNumber"/>
                    <metro-input asp-for="UserInfo.IsActive"/>
                    <metro-input asp-for="UserInfo.LockoutEnabled"/>
                </metro-form-content>

            </metro-modal-content>
            <metro-modal-footer buttons="Save | ModalDialogButtons.Cancel " button-alignment="End" />

        </form>
    </metro-modal>
