@using Volo.Abp.Account.Localization
@using Volo.Abp.Users
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject IHtmlLocalizer<AccountResource> L
@inject ICurrentUser CurrentUser
@model Generic.Abp.Metro.UI.Account.Web.Pages.Account.Components.ProfileManagementGroup.Password.AccountProfilePasswordManagementGroupViewComponent.ChangePasswordInfoModel

<form method="post" id="ChangePasswordForm">
    @if (!Model.HideOldPasswordInput)
    {
        <metro-input asp-for="CurrentPassword"/>
    }
    <metro-input asp-for="NewPassword" />
    <metro-input asp-for="NewPasswordConfirm" />
    <metro-button accent-color="Primary" text="@L["Submit"].Value" class="mt-2" id="ChangePasswordFormSubmitButton" />
</form>
