@page
@using Generic.Abp.Metro.UI.Bundling.TagHelpers
@using Generic.Abp.Metro.UI.TagHelpers
@using Generic.Abp.Metro.UI.Identity.Web.Navigation
@using Generic.Abp.Metro.UI.Identity.Web.Pages.Identity.Roles
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.Identity
@using Volo.Abp.Identity.Localization
@model Generic.Abp.Metro.UI.Identity.Web.Pages.Identity.Roles.IndexModel
@inject IHtmlLocalizer<IdentityResource> L
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout

@section styles {
    <metro-style-bundle name="W2Ui"></metro-style-bundle>
    <metro-style-bundle name="@typeof(IndexModel).FullName">
        <metro-style src="/Pages/AbpPermissionManagement/permission-management-modal.css" />
    </metro-style-bundle>
}
@section scripts {
    <metro-script-bundle name="W2Ui"></metro-script-bundle>
    <metro-script-bundle name="@typeof(IndexModel).FullName">
        <metro-script src="/Pages/AbpPermissionManagement/permission-management-modal.js" />
        <metro-script src="/Pages/Identity/Roles/index.js" />
    </metro-script-bundle>
}

<div class="w-100 mt-1" id="layout" style="height: calc(100vh - 90px)">
</div>