@page
@inject IHtmlLocalizer<TailWindCssAccountWebResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Generic.Abp.TailWindCss.Account.Web.Localization
@model Generic.Abp.TailWindCss.Account.Web.Pages.Account.ForgotPasswordModel

<h2 class="card-title">@L["ForgotPassword"]</h2>
<p class="text-sm text-secondary mb-4">@L["SendPasswordResetLink_Information"]</p>

<form method="post">
    <input asp-for="Email" data-role="input" iconCls="fa fa-at text-info"  placeholder="@L["DisplayName:Email"]" />
    <button type="submit" class="btn btn-primary w-full text-white text-lg mt-4">@L["Submit"]</button>
</form>

@await Html.PartialAsync("Shared/_BackToLogin")
