@page
@using Generic.Abp.Metro.UI.TagHelpers.Form
@using Generic.Abp.Metro.UI.TagHelpers.Modal
@using Generic.Abp.OpenIddict.Localization;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Generic.Abp.Metro.UI.OpenIddict.Web.Pages.OpenIddict.Scopes.CreateModalModel
@inject IHtmlLocalizer<OpenIddictResource> L
@{
    Layout = null;
}
<metro-modal width="800">
    <form asp-page="/OpenIddict/Scopes/CreateModal">
        <metro-modal-title title="@L["NewScope"].Value" />
        <metro-modal-content>
            <metro-form-content cols="1" label-width="120">
                <metro-input asp-for="Scope.Name" label="@L["Scope:Name"].Value" />
                <metro-input asp-for="Scope.DisplayName" label="@L["Scope:DisplayName"].Value" />
                <metro-input asp-for="Scope.Description" label="@L["Scope:Description"].Value" />
            </metro-form-content>
        </metro-modal-content>
        <metro-modal-footer buttons="Save | ModalDialogButtons.Cancel " button-alignment="End" />
    </form>
</metro-modal>


