@page
@using Generic.Abp.Metro.UI.TagHelpers.Modal
@using Generic.Abp.OpenIddict.Localization;
@using Microsoft.AspNetCore.Mvc.Localization
@model Generic.Abp.Metro.UI.OpenIddict.Web.Pages.OpenIddict.Scopes.EditModalModel
@inject IHtmlLocalizer<OpenIddictResource> L
@{
    Layout = null;
    var title = L["Edit"].Value + L["Scope"].Value;
}
<metro-modal width="800">
    <form asp-page="/OpenIddict/Scopes/EditModal">
        <metro-modal-title title="@title" />
        <metro-modal-content>
            <metro-form-content cols="1" label-width="120">
                <input type="hidden" asp-for="Scope.Id" />
                <input type="hidden" asp-for="Scope.ConcurrencyStamp" />
                <metro-input asp-for="Scope.Name" label="@L["Scope:Name"].Value" />
                <metro-input asp-for="Scope.DisplayName" label="@L["Scope:DisplayName"].Value" />
                <metro-input asp-for="Scope.Description" label="@L["Scope:Description"].Value" />
            </metro-form-content>
        </metro-modal-content>
        <metro-modal-footer buttons="Save | ModalDialogButtons.Cancel " button-alignment="End" />
    </form>
</metro-modal>



