@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Generic.Abp.Demo.Localization
@using Generic.Abp.Metro.UI.Bundling.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Abp.Users
@model Generic.Abp.Demo.Web.Pages.IndexModel
@inject IThemeManager ThemeManager
@inject IHtmlLocalizer<DemoResource> L
@inject ICurrentUser CurrentUser
@{
    Layout = ThemeManager.CurrentTheme.GetApplicationLayout();
}
@section styles {
    <metro-style-bundle>
        <metro-style src="/Pages/Index.css" />
    </metro-style-bundle>
}
@section scripts {
    <metro-script-bundle>
        <metro-script src="/Pages/Index.js" />
    </metro-script-bundle>

}


<div class="jumbotron text-center">
    <h1>@L["Welcome"]</h1>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <p>@L["LongWelcomeMessage"]</p>
            <hr class="my-4"/>
        </div>
    </div>
    <a href="https://abp.io?ref=tmpl" target="_blank" class="btn btn-primary px-4">abp.io</a>
    @if (!CurrentUser.IsAuthenticated)
    {
        <a abp-button="Primary" href="~/Account/Login" class="px-4"><i class="fa fa-sign-in"></i> @L["Login"]</a>
    }
</div>

