@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.IdentityServer.Localization
@model Generic.Abp.IdentityServer.Web.Pages.IdentityServer.ApiResources.CreateClaimsModalModel
@inject IHtmlLocalizer<AbpIdentityServerResource> _l
@{
    Layout = null;
}
<form method="post" asp-page="/IdentityServer/ApiResources/CreateClaimsModal">
    <abp-modal>
        <abp-modal-header title="@_l["Claim"].Value"></abp-modal-header>
        <abp-modal-body>
            @* TODO: Can we use dynamic form? *@
            <input type="hidden" asp-for="ApiResourceClaim.ApiResourceId" />
            <abp-input asp-for="ApiResourceClaim.Type" label="@_l["UserClaim:Type"].Value"></abp-input>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
