@page
@using System.Net
@using Generic.Abp.IdentityServer.Permissions
@using Generic.Abp.IdentityServer.Web.Navigation
@using Generic.Abp.IdentityServer.Web.Pages.IdentityServer.ApiResources
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.IdentityServer.Localization
@model IndexModel
@inject IHtmlLocalizer<AbpIdentityServerResource> _l
@inject IAuthorizationService _authorization
@inject IPageLayout _pageLayout
@{
    _pageLayout.Content.Title = _l["ApiResources"].Value;
    _pageLayout.Content.BreadCrumb.Add(_l["Menu:IdentityServerManagement"].Value);
    _pageLayout.Content.MenuItemName = IdentityServerMenuNames.ApiResources;
}

@section styles{
    <abp-style-bundle name="W2Ui"></abp-style-bundle>
}

@section scripts {
    <abp-script-bundle name="W2Ui"></abp-script-bundle>
    <abp-script-bundle name="@typeof(IndexModel).FullName" type="module">
        <abp-script src="/Pages/identityServer/global.js"   />
        <abp-script src="/Pages/identityServer/Function.js"   />
        <abp-script src="/Pages/identityServer/Grid.js"   />
        <abp-script src="/Pages/identityServer/PropertyGrid.js"   />
        <abp-script src="/Pages/identityServer/ClaimGrid.js"   />
        <abp-script src="/Pages/identityServer/RelationalGrid.js"   />
        <abp-script src="/Pages/identityServer/SecretGrid.js"   />
        <abp-script src="/Pages/identityServer/ResourcePropertyGrid.js"   />
        <abp-script src="/Pages/identityServer/ApiResources/ApiResourceGrid.js"   />
        <abp-script src="/Pages/identityServer/ApiResources/index.js" />
    </abp-script-bundle>
    
}

<div id="layout" style="height:calc( 100vh - 160px)">
</div>
