@page
@using System.Net
@using Generic.Abp.IdentityServer.Permissions
@using Generic.Abp.IdentityServer.Web.Navigation
@using Generic.Abp.IdentityServer.Web.Pages.IdentityServer.ApiResources
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.IdentityServer.Localization
@model IndexModel
@inject IHtmlLocalizer<AbpIdentityServerResource> _l
@inject IAuthorizationService _authorization
@inject IPageLayout _pageLayout
@{
    _pageLayout.Content.Title = _l["ApiResources"].Value;
    _pageLayout.Content.BreadCrumb.Add(_l["Menu:IdentityServerManagement"].Value);
    _pageLayout.Content.MenuItemName = IdentityServerMenuNames.ApiResources;
}

@section styles{
    <abp-style-bundle name="W2Ui"></abp-style-bundle>
}

@section scripts {
    <abp-script-bundle name="W2Ui"></abp-script-bundle>
    <abp-script-bundle name="@typeof(IndexModel).FullName" type="module">
        <abp-script src="/Pages/identityServer/global.js"   />
        <abp-script src="/Pages/identityServer/Function.js"   />
        <abp-script src="/Pages/identityServer/Grid.js"   />
        <abp-script src="/Pages/identityServer/PropertyGrid.js"   />
        <abp-script src="/Pages/identityServer/ClaimGrid.js"   />
        <abp-script src="/Pages/identityServer/RelationalGrid.js"   />
        <abp-script src="/Pages/identityServer/SecretGrid.js"   />
        <abp-script src="/Pages/identityServer/ResourcePropertyGrid.js"   />
        <abp-script src="/Pages/identityServer/ApiResources/ApiResourceGrid.js"   />
        <abp-script src="/Pages/identityServer/ApiResources/ApiResourceScopeGrid.js"   />
        <abp-script src="/Pages/identityServer/ApiResources/ApiResourceScopeDetail.js"   />
        <abp-script src="/Pages/identityServer/ApiResources/index.js" />
    </abp-script-bundle>
    
}

<div id="layout" style="height:calc( 100vh - 160px)">
</div>

<div class="modal fade show" id="scopesDetailModal" tabindex="-1" aria-labelledby="scopesDetailModalLabel" aria-hidden="true" style="z-index:1051;display:none;" >
  <div class="modal-dialog" style="width:600px;">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="scopesDetailModalLabel"></h1>
        <button type="button" id="scopesDetailModalCloseButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="scopesDetailList" role="scopesDetailList">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#scopeDetailTab" type="button" role="tab" aria-controls="scopeDetailTab" aria-selected="true"></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#scopeClaimsTab" type="button" role="tab" aria-controls="scopeClaimsTab" aria-selected="false"></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#scopePropertyTab" type="button" role="tab" aria-controls="scopePropertyTab" aria-selected="false" ></button>
            </li>
        </ul>
        <div class="tab-content w-100" style="height:400px;">
            <div class="tab-pane fade  w-100 h-100 show active" id="scopeDetailTab" role="tabpanel" aria-labelledby="scopeDetailTab" tabindex="0"></div>
            <div class="tab-pane fade w-100 h-100" id="scopeClaimsTab" role="tabpanel" aria-labelledby="scopeClaimsTab" tabindex="0"></div>
            <div class="tab-pane fade w-100 h-100 " id="scopePropertyTab" role="tabpanel" aria-labelledby="scopePropertyTab" tabindex="0"></div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade" id="scopesDetailModalBackdrop" style="display:none;"></div>