@using System.Linq
@using Microsoft.AspNetCore.Http.Extensions
@model Generic.Abp.Metro.UI.Theme.Basic.Themes.Basic.Components.Toolbar.LanguageSwitch.LanguageSwitchViewComponentModel
@if (Model.OtherLanguages.Any())
{
    <li>
        <a href="#" class="dropdown-toggle">@Model.CurrentLanguage.DisplayName</a>
        <ul class="d-menu bg-dark" data-role="dropdown">
            @foreach (var language in Model.OtherLanguages)
            {
                <li><a href="~/Abp/Languages/Switch?culture=@(language.CultureName)&uiCulture=@(language.UiCultureName)&returnUrl=@(System.Net.WebUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery()))">@language.DisplayName</a></li>
            }
        </ul>
        </li>
}
