@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Generic.Abp.Metro.UI.MultiTenancy.Localization;
@using Generic.Abp.Metro.UI.TagHelpers.Form
@using Generic.Abp.Metro.UI.TagHelpers.Modal
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Pages.Abp.MultiTenancy.TenantSwitchModalModel
@inject IHtmlLocalizer<MetroUiMultiTenancyResource> L
@{
    Layout = null;
}
<metro-modal >
    <form asp-page="/Abp/MultiTenancy/TenantSwitchModal">
        <metro-modal-title title="@L["SwitchTenant"].Value" />
        <metro-modal-content >
            <metro-form-content cols="1" label-width="120">
                <metro-input asp-for="@Model.Input.Name" required-symbol="true"/>
            </metro-form-content>
        </metro-modal-content>
        <metro-modal-footer buttons="Save | ModalDialogButtons.Cancel " button-alignment="End" />
    </form>
</metro-modal>
