@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Generic.Abp.Metro.UI.MultiTenancy.Localization;
@model Pages.Abp.MultiTenancy.TenantSwitchModalModel
@inject IHtmlLocalizer<MetroUiMultiTenancyResource> L
@{
    Layout = null;
}
<form>
</form>
