@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject Volo.Abp.AspNetCore.Mvc.UI.Theming.IThemeManager ThemeManager
@{
    Layout = ThemeManager.CurrentTheme.GetAccountLayout();
}
<div class="abp-account-container">
    @RenderBody()
</div>