@using Localization.Resources.AbpUi
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<AbpUiResource> L

<form method="post">
    <input type="text" data-role="input" data-search-button="true" placeholder="@L["Search"].Value">
</form>


