@using Generic.Abp.TailWindCss.Account.Web.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<TailWindCssAccountWebResource> L
<div class=" font-bold text-sm mt-1">
    <a asp-page="./Login" class="text-sm text-primary">
        <i class="fa fa-long-arrow-left"></i> @L["Login"]
    </a>
</div>