@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Generic.Abp.Account.Localization
@model Generic.Abp.Account.Web.Pages.Account.SendSecurityCodeModel
@inject IHtmlLocalizer<AccountResource> L
<h2>Send security code!</h2>
<p>TODO: This page is under construction.</p>
