/* 以下是自定义的颜色变量 
    丹枫：216，25，25，#D81918
    凌霄：233， 112， 64 ，#E97040
    金红：238，120，31，#EE781F
    雄黄：243，153，58，#F3993A
    黄梁：233，187，65，#E9BB41
    黄琉璃：229，168，75，#E5A84B
    桔黄：244，207，57，#F4CF39
    欧碧：216，230，153，#D8E699
    四绿：107，179，146，#6BB392
    //#6bb392 的 HSL 值约为：hsl(140, 35%, 50%)
    绿茶：145，184，33 ，#91B821
    品月：60，118，153，#3C7699
    松石：117，193，196，#75C1C4
    卵色天：200，216，225，#C8D8E1
    玉色：248，247，240，#F8F7F0
    鹄白：235，238，240，#EBEEE0
    月白：212，229，239，#D4E5EF
    碧落：174，208，237，#AED0ED
    东方亮：245，251，254，#F5FBFE
    镍灰：159，163，154，#9FA39A
    银朱：209，41，32，#D12920
    赩炽：203，82，62，#CB523E
    丹罽： 223， 1，52，#DF0134
    朱砂：216，8，53，#D80835
    蕉红：200，25，29，#C8191D
    祖母绿: 0,149,62, #00953E
    梅子青：169，189，162，#A9BDA2
    笋绿：132，167，64，#84A740

*/

:root {
    --el-color-primary-rgb: 60, 118, 153;
    //hsl(210,35%,40%)
    --el-color-primary: #3c7699;
    --el-color-primary-light-1: hsl(210, 35%, 46%);
    --el-color-primary-light-2: hsl(210, 35%, 52%);
    --el-color-primary-light-3: hsl(210, 35%, 58%);
    --el-color-primary-light-4: hsl(210, 35%, 64%);
    --el-color-primary-light-5: hsl(210, 35%, 70%);
    --el-color-primary-light-6: hsl(210, 35%, 76%);
    --el-color-primary-light-7: hsl(210, 35%, 82%);
    --el-color-primary-light-8: hsl(210, 35%, 88%);
    --el-color-primary-light-9: hsl(210, 35%, 94%);
    --el-color-primary-dark-2: hsl(207, 30%, 30%);

    --el-color-success-rgb: 107, 179, 146;
    
    --el-color-success: #00953E;
    //#00953E 的 HSL 值约为：hsl(140, 99.33%, 29.41%)
    --el-color-success-light-1: hsl(140, 99%, 36%);
    --el-color-success-light-2: hsl(140, 99%, 42%);
    --el-color-success-light-3: hsl(140, 99%, 48%);
    --el-color-success-light-4: hsl(140, 99%, 56%);
    --el-color-success-light-5: hsl(140, 99%, 62%);
    --el-color-success-light-6: hsl(140, 99%, 68%);
    --el-color-success-light-7: hsl(140, 99%, 74%);
    --el-color-success-light-8: hsl(140, 99%, 80%);
    --el-color-success-light-9: hsl(140, 99%, 86%);
    --el-color-success-dark-2: hsl(140, 94%, 20%);

    --el-color-warning-rgb: 233, 187, 65;
    //#e9bb41 的 HSL 值约为：hsl(40, 75%, 50%)
    --el-color-warning: #e9bb41;
    --el-color-warning-light-1: hsl(40, 75%, 55%);
    --el-color-warning-light-2: hsl(40, 75%, 60%);
    --el-color-warning-light-3: hsl(40, 75%, 65%);
    --el-color-warning-light-4: hsl(40, 75%, 70%);
    --el-color-warning-light-5: hsl(40, 75%, 75%);
    --el-color-warning-light-6: hsl(40, 75%, 80%);
    --el-color-warning-light-7: hsl(40, 75%, 85%);
    --el-color-warning-light-8: hsl(40, 75%, 90%);
    --el-color-warning-light-9: hsl(40, 75%, 95%);
    --el-color-warning-dark-2: hsl(40, 70%, 40%);

    --el-color-danger-rgb: 216, 8, 53;
    //#D80835 的 HSL 值约为：hsl(0, 88%, 45%)
    --el-color-danger: #d80835;
    --el-color-danger-light-1: hsl(0, 88%, 50%);
    --el-color-danger-light-2: hsl(0, 88%, 55%);
    --el-color-danger-light-3: hsl(0, 88%, 60%);
    --el-color-danger-light-4: hsl(0, 88%, 65%);
    --el-color-danger-light-5: hsl(0, 88%, 70%);
    --el-color-danger-light-6: hsl(0, 88%, 75%);
    --el-color-danger-light-7: hsl(0, 88%, 80%);
    --el-color-danger-light-8: hsl(0, 88%, 85%);
    --el-color-danger-light-9: hsl(0, 88%, 90%);
    --el-color-danger-dark-2: hsl(0, 83%, 35%);


    --el-color-error-rgb: 216, 8, 53;
    //#D80835 的 HSL 值约为：hsl(0, 88%, 45%)
    --el-color-error: #d80835;
    --el-color-error-light-1: hsl(0, 88%, 50%);
    --el-color-error-light-2: hsl(0, 88%, 55%);
    --el-color-error-light-3: hsl(0, 88%, 60%);
    --el-color-error-light-4: hsl(0, 88%, 65%);
    --el-color-error-light-5: hsl(0, 88%, 70%);
    --el-color-error-light-6: hsl(0, 88%, 75%);
    --el-color-error-light-7: hsl(0, 88%, 80%);
    --el-color-error-light-8: hsl(0, 88%, 85%);
    --el-color-error-light-9: hsl(0, 88%, 90%);
    --el-color-error-dark-2: hsl(0, 83%, 35%);

    --el-color-info-rgb: 159, 163, 154;
    //#9fa39a 的 HSL 值约为：hsl(120, 5%, 50%)
    --el-color-info: #9fa39a;
    --el-color-info-light-1: hsl(120, 5%, 55%);
    --el-color-info-light-2: hsl(120, 5%, 60%);
    --el-color-info-light-3: hsl(120, 5%, 65%);
    --el-color-info-light-4: hsl(120, 5%, 70%);
    --el-color-info-light-5: hsl(120, 5%, 75%);
    --el-color-info-light-6: hsl(120, 5%, 80%);
    --el-color-info-light-7: hsl(120, 5%, 85%);
    --el-color-info-light-8: hsl(120, 5%, 90%);
    --el-color-info-light-9: hsl(120, 5%, 95%);
    --el-color-info-dark-2: hsl(120, 5%, 50%);

    --el-color-white: #f5fbfe;
}

html.dark {
    --el-color-primary-rgb: 60, 118, 153;
    //hsl(210,35%,40%)
    --el-color-primary: #3c7699;
    --el-color-primary-light-1: hsl(210, 35%, 36%);
    --el-color-primary-light-2: hsl(210, 35%, 32%);
    --el-color-primary-light-3: hsl(210, 35%, 28%);
    --el-color-primary-light-4: hsl(210, 35%, 24%);
    --el-color-primary-light-5: hsl(210, 35%, 20%);
    --el-color-primary-light-6: hsl(210, 35%, 16%);
    --el-color-primary-light-7: hsl(210, 35%, 12%);
    --el-color-primary-light-8: hsl(210, 35%, 8%);
    --el-color-primary-light-9: hsl(210, 35%, 4%);
    --el-color-primary-dark-2: hsl(207, 40%, 50%);

    --el-color-success-rgb: 107, 179, 146;
    //#00953E 的 HSL 值约为：hsl(140, 99.33%, 29.41%)
    --el-color-success: #00953E;
    --el-color-success-light-1: hsl(140, 99%, 28%);
    --el-color-success-light-2: hsl(140, 99%, 26%);
    --el-color-success-light-3: hsl(140, 99%, 24%);
    --el-color-success-light-4: hsl(140, 99%, 22%);
    --el-color-success-light-5: hsl(140, 99%, 20%);
    --el-color-success-light-6: hsl(140, 99%, 18%);
    --el-color-success-light-7: hsl(140, 99%, 16%);
    --el-color-success-light-8: hsl(140, 99%, 14%);
    --el-color-success-light-9: hsl(140, 99%, 12%);
    --el-color-success-dark-2: hsl(140, 99%, 40%);

    --el-color-warning-rgb: 233, 187, 65;
    //#e9bb41 的 HSL 值约为：hsl(40, 75%, 50%)
    --el-color-warning: #e9bb41;
    --el-color-warning-light-1: hsl(40, 75%, 46%);
    --el-color-warning-light-2: hsl(40, 75%, 42%);
    --el-color-warning-light-3: hsl(40, 75%, 38%);
    --el-color-warning-light-4: hsl(40, 75%, 34%);
    --el-color-warning-light-5: hsl(40, 75%, 30%);
    --el-color-warning-light-6: hsl(40, 75%, 26%);
    --el-color-warning-light-7: hsl(40, 75%, 22%);
    --el-color-warning-light-8: hsl(40, 75%, 18%);
    --el-color-warning-light-9: hsl(40, 75%, 14%);
    --el-color-warning-dark-2: hsl(40, 80%, 60%);

    --el-color-danger-rgb: 216, 8, 53;
    //#D80835 的 HSL 值约为：hsl(0, 88%, 45%)
    --el-color-danger: #d80835;
    --el-color-danger-light-1: hsl(0, 88%, 41%);
    --el-color-danger-light-2: hsl(0, 88%, 37%);
    --el-color-danger-light-3: hsl(0, 88%, 33%);
    --el-color-danger-light-4: hsl(0, 88%, 29%);
    --el-color-danger-light-5: hsl(0, 88%, 25%);
    --el-color-danger-light-6: hsl(0, 88%, 21%);
    --el-color-danger-light-7: hsl(0, 88%, 17%);
    --el-color-danger-light-8: hsl(0, 88%, 13%);
    --el-color-danger-light-9: hsl(0, 88%, 9%);
    --el-color-danger-dark-2: hsl(0, 93%, 55%);


    --el-color-error-rgb: 216, 8, 53;
    //#D80835 的 HSL 值约为：hsl(0, 88%, 45%)
    --el-color-error: #d80835;
    --el-color-error-light-1: hsl(0, 88%, 50%);
    --el-color-error-light-2: hsl(0, 88%, 55%);
    --el-color-error-light-3: hsl(0, 88%, 60%);
    --el-color-error-light-4: hsl(0, 88%, 65%);
    --el-color-error-light-5: hsl(0, 88%, 70%);
    --el-color-error-light-6: hsl(0, 88%, 75%);
    --el-color-error-light-7: hsl(0, 88%, 80%);
    --el-color-error-light-8: hsl(0, 88%, 85%);
    --el-color-error-light-9: hsl(0, 88%, 90%);
    --el-color-error-dark-2: hsl(0, 93%, 55%);

    --el-color-info-rgb: 159, 163, 154;
    //#9fa39a 的 HSL 值约为：hsl(120, 5%, 50%)
    --el-color-info: #9fa39a;
    --el-color-info-light-1: hsl(120, 5%, 46%);
    --el-color-info-light-2: hsl(120, 5%, 42%);
    --el-color-info-light-3: hsl(120, 5%, 38%);
    --el-color-info-light-4: hsl(120, 5%, 34%);
    --el-color-info-light-5: hsl(120, 5%, 30%);
    --el-color-info-light-6: hsl(120, 5%, 26%);
    --el-color-info-light-7: hsl(120, 5%, 22%);
    --el-color-info-light-8: hsl(120, 5%, 18%);
    --el-color-info-light-9: hsl(120, 5%, 14%);
    --el-color-info-dark-2: hsl(120, 10%, 60%);
    
}

body {
    font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica,
        "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    color: var(--ep-color-primary);
}

code {
    border-radius: 2px;
    padding: 2px 4px;
    background-color: var(--ep-color-primary-light-9);
    color: var(--ep-color-primary);
}

.spacer {
    flex: 1;
}
.el-dialog__footer {
    display: flex;
}

.none-border {
    border: none;
}

:focus-visible {
    outline: none !important;
}

.el-dropdown-menu .is-active {
    background-color: var(--el-color-primary-light-9);
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &:nth-child(1) {
        height: calc(100vh - 60px);
    }
}

/* 使用before伪类在文字前加上小圆点，可设置不同演示 */
// 定义一个混入，用于处理前置内容的样式
@mixin dot-style($color) {
    content: "•"; // 默认内容
    font-size: larger;
    margin-right: 5px;
    color: $color; // 接收颜色参数
}

.dot-danger:before {
    @include dot-style(var(--el-color-error)); // 使用混入，传入警告色
}

.dot-success:before {
    @include dot-style(var(--el-color-success)); // 使用混入，传入成功色
}

.dot-warning:before {
    @include dot-style(var(--el-color-warning)); // 使用混入，传入警告色
}

.dot-info:before {
    @include dot-style(var(--el-color-info)); // 使用混入，传入信息色
}

.el-form-item__label {
    justify-content: flex-start;
}

fieldset {
    border: 2px solid #dcdfe6;
    border-radius: 5px;
}
