
// :root {
//   --ep-color-primary: red;
// }

body {
  font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--ep-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}

.spacer{
    flex: 1;
}
.primary{
    color: #409EFF;
}
.success{
    color: #67C23A !important;
}
.warning{
    color: #E6A23C;
}
.danger,.highlight{
    color: #F56C6C;
}
.info{
    color: #909399;
}

.bg-primary{
    background-color: #409EFF;
}
.bg-success{
    background-color: #67C23A;
}
.bg-warning{
    background-color: #E6A23C;
}
.bg-danger{
    background-color: #F56C6C;
}
.bg-info{
    background-color: #909399;
}

.el-dialog__footer{
    display: flex;
}

.none-border{
    border: none;
}

:focus-visible {
    outline: none !important;
}

.el-dropdown-menu .is-active {
    background-color: var(--el-color-primary-light-9);
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &:nth-child(1){
        height: calc(100vh - 60px);
    }
}

/* 使用before伪类在文字前加上小圆点，可设置不同演示 */
// 定义一个混入，用于处理前置内容的样式
@mixin dot-style($color) {
    content: "•";  // 默认内容
    font-size: larger;
    margin-right: 5px;
    color: $color;  // 接收颜色参数
}

.dot-danger:before {
    @include dot-style(var(--el-color-error));  // 使用混入，传入警告色
}

.dot-success:before {
    @include dot-style(var(--el-color-success));  // 使用混入，传入成功色
}

.dot-warning:before {
    @include dot-style(var(--el-color-warning));  // 使用混入，传入警告色
}

.dot-info:before {
    @include dot-style(var(--el-color-info));  // 使用混入，传入信息色
}

.el-form-item__label{
    justify-content: flex-start;
}

fieldset{
    border: 2px solid #dcdfe6;
    border-radius: 5px;
}