@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.IdentityServer.Localization
@model Generic.Abp.IdentityServer.Web.Pages.IdentityServer.Clients.CreateClientGrantTypeModalModel
@inject IHtmlLocalizer<AbpIdentityServerResource> _l
@{
    Layout = null;
}
<form method="post" asp-page="/IdentityServer/Clients/CreateClientGrantTypeModal">
    <abp-modal>
        <abp-modal-header title="@_l["NewGrantType"].Value"></abp-modal-header>
        <abp-modal-body>
            <input type="hidden" asp-for="GrantType.ForeignKeyId" />
            <abp-input asp-for="GrantType.GrantType" label="@_l["ClientGrantType:GrantType"].Value" />
            <div class="d-flex flex-row">
                <div class="flex-fill text-center"><a href="javascript:setGrantType('authorization_code')">authorization_code</a></div>
                <div class="flex-fill text-center"><a href="javascript:setGrantType('implicit')">implicit</a></div>
                <div class="flex-fill text-center"><a href="javascript:setGrantType('password')">password</a></div>
                <div class="flex-fill text-center"><a href="javascript:setGrantType('client_credentials')">client_credentials</a></div>
                <script>
                    function setGrantType(value){
                        let el = document.getElementById('GrantType_GrantType');
                        el.value = value;
                    }
                </script>
            </div>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

