@page
@inject IHtmlLocalizer<TailwindResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Generic.Abp.Tailwind.Localization
@using Generic.Abp.Tailwind.Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Generic.Abp.Tailwind.Pages.Account.ForgotPasswordModel

<h2 class="card-title">@L["ForgotPassword"]</h2>
<p class="text-sm text-secondary mb-4">@L["SendPasswordResetLink_Information"]</p>

<form method="post">
    @Html.TailwindInputFor(m => m.Email, new InputOptions(0, iconCls: "fas fa-user text-primary", autocomplete:"email"))
    <button type="submit" class="btn btn-primary w-full text-white text-lg mt-4">@L["Submit"]</button>
</form>

@await Html.PartialAsync("Shared/_BackToLogin")
