@page
@model Generic.Abp.Tailwind.Pages.Account.PasswordResetLinkSentModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Generic.Abp.Tailwind.Localization
@inject IHtmlLocalizer<TailwindResource> L
        <h2 class="card-title">@L["ForgotPassword"]</h2>
<p class="text-sm text-secondary mb-4">@L["PasswordResetMailSentMessage"]</p>

<form method="post">
    <div class=" font-bold text-sm mt-1">
        <a class="text-sm text-primary" asp-page="./Login" asp-all-route-data="@(new Dictionary<string, string> { { "returnUrl", Model.ReturnUrl }, { "returnUrlHash", Model.ReturnUrlHash } })">
            <i class="fa fa-long-arrow-left"></i> @L["BackToLogin"]
        </a>
    </div>
</form>
