@page
@model Generic.Abp.Tailwind.Pages.Account.ResetPasswordConfirmationModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@inject IHtmlLocalizer<AccountResource> L
<h2 class="card-title">@L["ResetPassword"]</h2>
<p class="text-sm text-secondary mb-4">@L["YourPasswordIsSuccessfullyReset"]</p>
<a class="text-primary text-sm" href="@Url.Content(Model.ReturnUrl)">@L["GoToTheApplication"]</a>
